* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/*---------------------navbar--------------------------------------*/
.header {
    height: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;

}

nav>ul {
    display: flex;
    list-style: none;
    gap: 30px;

}

nav h2 {
    font-size: 30px;
    font-weight: 700;
}

/*------------------------------------header body--------------------------------*/
.bannar-img img {
    width: 90%;
}

.bannar-img {
    display: flex;
    justify-content: center;
}

.header-body {
    text-align: center;
    width: 60%;
    margin: 90px auto 50px auto;
}

.header-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.header-body h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header-body p {
    color: #727272;
    font-size: 16px;
    font-size: 400;
    margin-bottom: 1rem;
}

.button-orange {
    border: 0;
    background-color: orange;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

/*--------------------------team-------------------------------------------------*/
.section-2nd {
    width: 100%;
    max-width: 1000px;
    margin: 60px auto 169px auto;
}

.team-body>img {
    width: 100%;
}

.team-body,
.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-container {
    gap: 50px;
}

.team-container {
    align-items: center;
}

.team-body-title {
    color: black;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 4%;
}

.gray-title {
    color: #727272;
}

.orange-title {
    color: #FF900E;
}

.team-body-2 p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 4%;
}

/*----------------featute------------------------------*/
.feature-section {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
}

.feature-img>img {
    width: 100%;
}

.feature-title-body {
    color: #727272;
    margin-top: 15px;
    margin-bottom: 30px;
}

.feature-title-body h3 {
    color: black;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
    border-left: 7px solid orange;
    padding-left: 2%;
}

.feature-title-body,
.container p {
    font-size: 12px;

}

.container {
    color: #727272;
    padding: 25px 33px;
    margin: 15px 0;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.container h6 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/*------------------------------------button--------------------------------------------------*/
.button {
    background-color: orange;
    padding: 5% 7%;
    font-size: 40px;
    font-weight: 600;
    color: white;
    border: 0;
    position: relative;
    top: -100px;
    right: 50px;
    border-radius: 5px;
}

#button-small-part {
    font-size: 16px;
    font-weight: 400;
}

.some-fact-textbody h5 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 4% 0;
}

.some-fact-textbody p {
    margin-bottom: 18%;
    color: #727272;
    ;
    font-size: 16px;
    font-weight: 400;
}

/*-------------------------award-----------------------------------------------*/
.award-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.award-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
}

.award-body {
    border: 1px solid #FF900E;
    padding: 25px 20px;
    text-align: center;
}

.award-body:hover {
    background-color: #FF900E;
    transition: 0.7s;
}

.award-body h2 {
    margin: 10px 0;
    color: #424242;
    font-size: 30px;
    font-weight: 700;
}

.award-body p {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
}

/*------------------------Our Sponspors-----------------------------------------------*/
.our-sponspors {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.our-sponspors-body {
    text-align: center;
}

.our-sponspors-body h2 {
    margin: 10% 0 2% 0;
    font-weight: 700;
    font-size: 45px;
    font-weight: 600;
}

.our-sponspors-body p {
    color: #727272;
    ;
    font-size: 16px;
    font-weight: 400;
    width: 689px;
    margin: 0 auto 5% auto;
}

.our-sponspors-img-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
}

.our-sponspors-img {
    height: 50px;
    width: 150px;
    filter: grayscale(100%);
}

/*------------------- top blog styles--------------------------- */
.section-title {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.top-blogs {
    padding: 0 150px 0 150px;
    justify-content: center;
    margin-top: 50px;
}

.blog .thumbnail img {
    width: 224px;
    height: 127px;
}

.blogs {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
}

/*-----------------------------footer-----------------------------------------------------*/
.last-part {
    width: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center;
}

.last-part-text {
    font-size: 20px;
    color: #424242;
    margin: 0 auto;
    padding: 40px;
}

footer {
    margin: 150px 0px;
}

/*--------------------------------------media quary--------------------------------*/

@media only screen and (max-width:688px) {
    nav {
        flex-direction: column;
        row-gap: 20px;
    }

    ul {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    nav h2 {
        text-align: center;
        width: 100%;
        font-weight: 500;
    }

    .header-body h1 {
        font-size: 35px;
        font-weight: 600;
        padding: 15px 0 0 0;
    }

    .header-body p {
        font-size: 10px;
        font-size: 300;
    }

    /*-----------------------------team-----------------------------*/
    .team-container,
    .team-body {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-body>img {
        width: 90%;
        margin: 0 auto;
    }

    .team-body-2,
    .our-sponspors-body h2 {
        text-align: center;
    }

    .team-body-2 h3,
    .feature-title-body h3 {
        font-size: 25px;
        font-weight: 600;
    }

    /*----------------------------------feature----------------------------------------*/
    .feature-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-title-body h3,
    .Our-Sponspors-body h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .feature-title-body h3 {
        border-left: 2px solid orange;
    }

    .feature-title-body p {
        padding: 5px;
    }

    .button {
        padding: 3% 5%;
        font-size: 20px;
        font-weight: 400;
        position: relative;
        top: -15px;
        left: 10px;
        border-radius: 5px;
    }

    #button-small-part {
        font-size: 10px;
        font-weight: 300;
    }

    .award-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .our-sponspors-img-con {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding-left: 15px;
        text-align: center;
    }

    .our-sponspors-body p {
        display: none;
    }

    /*------------------------ blogs-------------------- */
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

}